// body{
//     background-color: red;
// }
body {background-color: hsl(226, 80%, 52%);}
        h1   {color:rgb(6, 6, 114);}
        p    {color: black;}
        li   {color: black;}    
        a    {color: palevioletred;}